<footer class="footer mt-auto px-4 text-center">
    <p>For registration support: <a href="mailto:apsim@csiro.au">apsim@csiro.au</a></p>
    <p>For APSIM Software support: <a href="https://www.apsim.info/support">APSIM Support</a></p>
    <p>GitHub repository: <a href="https://github.com/APSIMInitiative/apsimx">https://github.com/APSIMInitiative/apsimx</a></p>
    <p>&copy; 2026 APSIM Initiative. All rights reserved.</p>
</footer>