.general-use-col
{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    padding: 3%;
}

.special-use-col
{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    padding: 3%;
}

.special-use-form-row
{
    background-color: #fbfdf9;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    padding: 3%;
}

.general-use-form-row
{
    background-color: #fbfdf9;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    padding: 3%;
}

#licence-decision-table
{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    padding: 3%;
}