.custom-card {
   /* border: 2px solid darkgrey; */
   border-radius: 16px;
   box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);

}

.card-header {
   background-color: darkgreen;
   padding: 10px;
   font-weight: bold;
}

.card-header h5 
{
   color: #2f8f2f;
}